In [1]:
def square(x) :
    return x ** 2

square(9)

81

In [4]:
numbers = [1,2,3,4,5,6,7,8]
list(map(square, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
## Lamda Function with Map 
numbers = [1,2,3,4,5,6,7,8]
list(map(lambda x : x**2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [6]:
## Map Multiple Iterables 
numbers1 = [1,2,3]
numbers2 = [4,5,6]
added_numbers = list(map(lambda x,y : x + y, numbers1, numbers2))
print(added_numbers)

[5, 7, 9]

In [8]:
## Map() to convert a list of strings into integers
## Use map to convert strings to integers
str_numbers = ['1','2','3','4','5']
int_numbers = list(map(int, str_numbers))
print(int_numbers)
print(str_numbers)

[1, 2, 3, 4, 5]
['1', '2', '3', '4', '5']

In [9]:
words = ['apple','banana','cherry']
upper_word = list(map(str.upper, words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [11]:
def get_name(person):
    return person['name']

people=[
    {'name' : 'Krish', 'age' : 32},
    {'name' : 'Prince', 'age' : 19}
]

list(map(get_name, people))

['Krish', 'Prince']